  <details class="group [&_summary::-webkit-details-marker]:hidden px-5" open>
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg p-2 text-gray-900"
    >
      <h2 class="text-3xl my-4">
        <%= category.name %>
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </summary>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-4 lg:grid-cols-4 lg:gap-8">
      <% category.items.where(availability: true).with_attached_image.each do |item| %>
        <div class="rounded-lg bg-white">
          <%= hidden_field_tag "order[order_items_attributes][#{item.id}][menu_item_id]", item.id %>
          <%= hidden_field_tag "order[order_items_attributes][#{item.id}][quantity]", 0 %>

          <div class="menu-item">
              <%= render 'item', item: item %>
          </div>
        </div>
      <% end %>
    </div>
  </details>
