<div class="relative bg-cover bg-center h-screen" style="background-image: url('<%= image_path("/OIG.jpeg") %>')">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="flex items-center justify-center h-full">
    <h1 class="text-white text-8xl font-bold z-10">Souper Cafe</h1>
  </div>
</div>